*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
border:0;
}
html{
    font-size:62.5%;
}
body{
    font-size:1.5rem;
font-family: 'Source Sans Pro', sans-serif;
    line-height:1.5;
    background-color: whitesmoke;
    
}
h1, h2, h3, h4{
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 3px;
    padding:2% 0;
    text-align:center;
    display:flex;
    margin: auto;
    
}
h1{color:whitesmoke;}
h2, h3{
    color:green;
margin: auto;
display:flex;

}


p{  width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
    display:flex;
    padding: 5%;
    flex-flow: column;
    margin: auto;
}
nav{display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
    }
a{padding:1%;
    text-decoration: none;
    display: flex;

}
    .logo{
    width:35%;
display: flex;
margin:1%;
}
#home{display:flex;
    flex-flow: column;
    
}
.background{display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto;
    height:auto;
    background-size: cover;
    background:url('/Users/Czar/Desktop/LambdaProjects/HTML-CSS-Responsive-Practice/images/header.jpg');
}
.button{width: 15%;
display:flex;
justify-content: center;
   flex-flow:column;
    padding: 3%;
    margin:auto;
    
}
.title{margin: auto;
    
    padding: 5%;
    display:flex;
    
}
#about .aboutimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    
    margin: auto;
    height:auto;
    background:url('/Users/Czar/Desktop/LambdaProjects/HTML-CSS-Responsive-Practice/images/about-img.jpg');
    background-position: center;
    background-size: cover;
}
.aboutText{
    display:flex;
    flex-direction: column;
    justify-content: center;
   
    width: 50%;
  
}
.aboutTitle{width: 80%;
    display: flex;
   align-items: center;
   
    margin: auto;
}
.abtText{
    width: 80%;
    display: flex;
    flex-direction: column;
   
    margin: auto;
}
.plantimg{display:flex;
    width: 45%;
  
}
.textPlant{display: flex;
   
    width: 100%;
    
}
.textPlantOne{display: flex;
   flex-direction: row-reverse;
    width: 100%;
    
}

.types{display: flex;
    flex-flow: column;
    margin: auto;
    width: 50%;
   
padding:2%;
}
footer{
    display:flex;
    width:100%;
background: green;
align-items: center;
}
.footerimg{
    
    width:50%;
    display:flex;
    flex-direction: row;
margin:auto;
justify-content: flex-end;
}
.textLast{
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    width:25%;
    margin:5%;
}
footer, h2{
    display:flex;
    justify-content: center;
    color:whitesmoke;
    margin: auto;
    border: 2px solid white;
}
.git{
    margin:auto;
    border:2px solid white;
}